.big-picture__structure-wrapper {
  max-width: calc(75vw + 80px);
  max-height: calc(75vh + 80px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: 32px 1fr 32px;
  column-gap: 8px;
  row-gap: 8px;
  position: fixed;
}

@media (max-width: 520px) {
  .big-picture__structure-wrapper {
    min-width: 75vw;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    max-width: 75vw;
  }
}