.big-picture__structure-wrapper {
  max-width: 410px;
  width: 100%;
  max-height: 80vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: 32px 1fr 32px;
  column-gap: 8px;
  row-gap: 8px;
  position: fixed;
}