.page {
  max-width: 1280px;
  min-width: 282px;
  margin: 0 auto;
  padding: 45px 19px 60px;
  box-sizing: content-box;
  position: relative;
}

@media (max-width:420px) {
  .page {
    padding: 28px 19px 36px;
  }  
}
