.elements__like-button_active {
  max-width: 22px;
  width: 100%;
  background-image: url(../../../../images/like_active.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}