.popup__structure-wrapper {
  max-width: 510px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: 32px 1fr;
  column-gap: 8px;
  row-gap: 8px;
  position: fixed;
}

@media (max-width: 520px) {
  .popup__structure-wrapper {
    max-width: 282px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 0;
    margin: 0 auto;
  }
}