.big-picture__tag {
  grid-column: 1 / 1;
  grid-row: 2 / 3;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin-block-start: 0;
  margin-block-end: 0;
  
}