@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: .5;
  }
}

.popup_opened {
  animation: fade-in .3s linear;
  visibility: visible;
}