.profile__title {
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  color: #fff;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  justify-self: center;
  text-align: center;
}

@media (max-width: 675px) {
  .profile__title {
    grid-column: 2 / 3;
  }
}

@media (max-width: 420px) {
  .profile__title {
    font-size: 27px;
    line-height: 100%;
  }
}