.footer__copyright {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #545454;
  margin: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
}
