.big-picture__container {
  max-width: auto;
  max-height: auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1em;
  row-gap: 10px;
  justify-self: center;
  align-self: center;
}

@media (max-width: 520px) {
  .big-picture__container {
    grid-column: 1 / 2;
    width: 100%;
  }
}