.profile__add-button {
  max-width: 150px;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #000;
  border: none;
  border: 2px solid #fff;
  box-sizing: border-box;
}

@media (max-width: 675px) {
  .profile__add-button {
    max-width: 293px;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .profile__add-button {
    max-width: 420px;
    width: 100%;
  }
}
