@keyframes fade-out {
  from {
    visibility: visible;
    opacity: .9;
  }
  to {
    /* opacity: .5; */
    visibility: hidden;
    opacity: 0;
  }
}

.popup_animation-out {
  animation: fade-out .3s linear;
  visibility: hidden;
}
