.elements__like-button {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.elements__like-button:hover {
  opacity: 0.5;
}